.playerWrapper {
  width: 100%;
  background-color: #000;
  margin-bottom: 20px;
}

.aspectRatioBox {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9 aspect ratio
  background-color: #1a1a1a;
}

.posterContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .bigPlayButton {
    transform: scale(1.1);
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.playOverlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigPlayButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #fff;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: all $transition-speed ease;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nativePlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
